{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    /**
     * Plugin template/content for the block_pimenkofeaturedcourses plugin.
     *
     * @package    block_pimenkofeaturedcourses
     * @copyright  2026 Pimenko <pimenko.com>
     * @author     Revenu Sylvain <support@pimenko.com> | Amine NEDJAR <a.nedjar@pimenko.com>
     * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
    */
}}
{{!
    @template block_pimenkofeaturedcourses/content

    Display the content of this block

    Example context (json):
    {
        "courses": [
            {
                "id": 1,
                "display": "block",
                "url": "http://example.org/course/view.php?id=1",
                "urlimg": "",
                "fullname": "Example Course",
                "categoryname": "Example Category",
                "tagslist": "<a class=\"badge\">Tag</a>",
                "summary": "<p>Example summary</p>",
                "name": "Example Course",
                "customfields": [
                    {"customfieldname": "cf1", "customfield": "Value 1"}
                ],
                "enroledcount": 42
            }
        ],
        "displayenrolnumber": true,
        "rootpath": "/",
        "js": true
    }
}}

<div class="card-body p-0">
    <div class="card-text content mt-1 p-1">
        <div id="course-gallery" class="row">
            {{# courses }}
                <div class="col-lg-4 p-1 col-md-6 col-12 mb-1">
                    <div id="course-gallery-{{ id }}" class="card course-gallery h-100 dashboard-card" style="display: {{ display }}">
                        <div class="img-container">
                            <a href="{{ url }}">
                                <div class="img-course" style="background-image : url('{{ urlimg }}')" role="img" aria-label="{{{ fullname }}}"></div>
                            </a>
                        </div>
                        <div class="card-body p-1 d-flex flex-row">
                            <div class="courseinfo">
                                <p class="course_title"><a href="{{ url }}">{{{ fullname }}}</a></p>
                                <p class="categoryname text-muted">{{{ categoryname }}}</p>
                                {{#tagslist}}
                                    <div class="tagslist">
                                        {{{tagslist}}}
                                    </div>
                                {{/tagslist}}
                            </div>
                            <div class="coursemodal ml-auto">
                                <!-- Button trigger modal -->
                                {{# summary }}
                                    <button type="button" class="btn btn-primary modalbutton ml-auto" data-toggle="modal" data-target="#modal-{{ id }}">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                    </button>
                                {{/ summary }}
                                <!-- Modal -->
                                <div class="modal fade" id="modal-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="modal-title-{{ id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 id="modal-title-{{ id }}" class="modal-title">{{{ fullname }}}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="{{#str}}close, theme_pimenko{{/str}}">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                {{{ summary }}}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}}close, theme_pimenko{{/str}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-2 course-data mt-auto">
                            <div class="card-text custom-fields">
                                {{# customfields}}
                                    <span id="{{{customfieldname}}}">{{{customfield}}}</span><br>
                                {{/customfields}}
                            </div>
                            {{#displayenrolnumber}}
                                <div class="card-text">
                                    <div class="course-enrolments">
                                        {{#enroledcount}}
                                            <i class="icon fa fa-user fa-fw"></i>{{ enroledcount }}
                                        {{/enroledcount}}
                                    </div>
                                </div>
                            {{/displayenrolnumber}}
                        </div>
                    </div>
                </div>
            {{/courses}}
        </div>
    </div>
</div>
